* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}

body {
    background-color: #e0ebff;
    display: flex;
    width: 100%;
    height: 100vh;
}

main {
    padding: 20px;

    @media screen and (min-width: 768px) {
        padding: 50px;
    }

    width: 100vw;
    min-height: 100dvh;
}

.container {
    display: grid;
    grid-template-columns: 2fr 1fr;
    width: 100%;
    height: 100%;
    max-width: 1200px;
    margin: auto;
    padding-top: 50px;
    gap: 20px;

    @media screen and (max-width: 768px) {
        gap: 0;
    }

    .encript-container {
        display: flex;
        flex-direction: column;
        height: 100%;

        .input-container {
            background-color: #e9f1ff;
            box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
            border-radius: 10px;
            padding: 20px;
            height: 500px;

            @media screen and (max-width: 768px) {
                height: 400px;
            }

            .input {
                width: 100%;
                height: 100%;
                font-size: 24px;
                font-weight: 400;
                color: #0a3871;
                background-color: transparent;
                border: none;
                resize: none;
                padding: 10px;
            }

            :focus-visible {
                outline: none;
            }
        }

        p {
            font-size: 12px;
            color: #495057;
            margin-top: 10px;
        }

        .btn-container {
            display: flex;
            gap: 10px;

            button {
                margin-top: 5px;
                padding: 8px 12px;
                border-radius: 8px;
                border: none;
                font-size: 14px;
                font-weight: 600;
                color: #f3f5fc;
                background-color: #0a3871;
                cursor: pointer;

                &:hover {
                    opacity: 0.9;
                }
            }
        }
    }

    .msg-container {
        display: flex;
        gap: 10px;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        background-color: #fff;
        box-shadow: 0px 0px 10px rgb(0, 0, 0, 0.1);
        border-radius: 10px;
        padding: 20px;

        @media screen and (max-width: 768px) {
            img {
                display: none;
            }
        }


        .msg {
            display: flex;
            flex-direction: column;
            justify-content: center;
            gap: 10px;
            align-items: center;
            text-align: center;
            width: 100%;
            font-size: 20px;
            font-weight: 400;
            color: #495057;
            background-color: transparent;
            border: none;
            resize: none;
            padding: 10px;

            h3 {
                font-size: 20px;
            }

            p {
                font-size: 16px;
            }

            .btn-copy {
                margin-top: 5px;
                padding: 8px 12px;
                border-radius: 8px;
                border: none;
                font-size: 14px;
                font-weight: 600;
                color: #0a3871;
                border: 1px solid#0a3871;
                cursor: pointer;
            }
        }
    }
}

.logo {
    position: absolute;
    top: 20px;
    left: 20px;

    &:hover {
        opacity: 0.9;
    }
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr;
    }

}